/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
}

/* container */

.container {
	position: relative;
}

/* items */

.item {
	height: 200px;
	width: 200px;
	background: white;
	color: black;

	position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;

    padding: 30px;

    font-family: Andale Mono;

	/* comment out 'float: left;' to have items stack in a single column */
	/* float: left; */

	/* uncomment this to get CSS transitions (conflicts with jQuery) */
	/* transition: all 500ms ease; */
}

/* example buttons */

/* #button-1:hover {
} */

#button-1 {
	font-family: Courier New;
	font-size: 160px;
	color: white;
	border: 5px dashed blue;
	cursor: pointer;
}

#button-1:active {
	color: blue;
}

#button-2 {
	border: 5px dashed tomato;
	cursor: pointer;
}

#button-2:active {
	transition: transform 2s, background-color 1s;
	background-color: tomato;
	transform: skew(-720deg);
}

#button-3 {
	border: 5px dashed lime;
	cursor: pointer;
}

#button-4 {
	border: 5px dashed purple;
	cursor: pointer;
}

.circle {
	border-radius: 50% !important;
}

#button-5 {
	border: 5px dashed lightblue;
	cursor: pointer;
}

#button-5:active {
	animation-name: button-5rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes button-5rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#button-6 {
	border: 5px dashed gold;
	cursor: pointer;
}

#button-7 {
	border: 5px dashed orangered;
	cursor: pointer;
}

#button-8 {
	font-size: 170px;
	font-family: Courier New;
	color: deeppink;
	border: 5px dashed deeppink;
	cursor: pointer;
}

#button-9 {
	border: 5px dashed aqua;
}
